
<div id="{$_name}" class="xepan-components">
  <div class="list-group">{rows}{row}<a href="{detail_url}&amp;committee_id={$id}" class="committee-list list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{name}List group item heading{/}</h5><small>{created_at}3 days ago{/}</small>
      </div>
      <p class="mb-1">{$member_count}</p><small>{description}Donec id elit non mi porta.{/}</small></a>{/}{/}	
  </div>
</div>