.container.samaj-events(id='{$_name}' style="width:100%")
	{$header}
	{$not_found_message}	
	ul.event-list.row
		{rows}{row}
		li(class=" col-xs-12 col-sm-12 col-md-{col}5{/} col-lg-{col}5{/}")
			time(datetime='{$from_date}')
				span.day {$day}
				span.month {$month}
				span.year {$year}
				//- span.time 8:00 PM
			//- a(href="{$detail_url}" target="_blank")
			{image_wrapper}
			img(alt='{$name}', src='{$image}')
			{/image_wrapper}
			.info.disclosure
				h2.title
					a(href="{$detail_url}" target="_blank") {$name}
				p.desc {$content}
				//- ul
				//- 	li(style='width:33%;')
				//- 		| 1 
				//- 		span.glyphicon.glyphicon-ok
				//- 	li(style='width:34%;')
				//- 		| 3 
				//- 		span.fa.fa-question
				//- 	li(style='width:33%;')
				//- 		| 103 
				//- 		span.fa.fa-envelope
			.social
				ul
					{facebook_url_wrapper}
					li.facebook
						a(href="{$facebook_url}")
							span.fa.fa-facebook
					{/}
					{twitter_url_wrapper}
					li.twitter
						a(href="{$twitter_url}")
							span.fa.fa-twitter
					{/}
					{google_url_wrapper}
					li.google-plus
						a(href="{$google_url}")
							span.fa.fa-google-plus
					{/}
					{instagram_url_wrapper}
					li.instagram
						a(href="{$instagram_url}")
							span.fa.fa-instagram
					{/}
					{website_url_wrapper}
					li.website
						a(href="{$website_url}")
							span.fa.fa-globe
					{/}
		{/}{/}
		{$not_found}
	.xepan-paginator
		{$Paginator}