
<div id="{$_name}" style="width:100%" xepan-component="xepan/xavoc/Tool_EventDetail" class="xepan-component container">
  <div id="lightblue" class="row">
    <div class="col-md-12">
      <div class="panel panel-info coupon">
        <div id="head" class="panel-heading">
          <div id="title" class="panel-title text-center"><span class="hidden-xs">{name}Automatic Transmission Service{/name}</span><span class="visible-xs">{name}Automatic Transmission Service{/}</span></div>
        </div>
        <div class="panel-body"><img alt="{$name}" src="{$image}" style="width:100%"/>
          <div class="col-md-12">
            <p class="disclosure">
              {description}Using Genuine Oil Filter and
              multigrade oil up to vehicle specification. Lube as
              necessary. Ester Oil or Synthetic available at additional
              cost. Excludes hazardous waste fee, tax and shop supplies,
              where applicable. Offer not valid with previous charges or
              with any other offers or specials. Customer must offer at
              time of write-up. No cash value.{/}
            </p>
          </div>
        </div>{$Content}	
      </div>
    </div>
  </div>
</div>