
<div id="{$_name}" style="width:100%" class="container samaj-events">
  {$header}
  {$not_found_message}	
  <ul class="event-list row">{rows}{row}
    <li class=" col-xs-12 col-sm-12 col-md-{col}5{/} col-lg-{col}5{/}">
      <time datetime="{$from_date}"><span class="day">{$day}</span><span class="month">{$month}</span><span class="year">{$year}</span>
      </time>{image_wrapper}<img alt="{$name}" src="{$image}"/>{/image_wrapper}
      <div class="info">
        <h2 class="title"><a href="{$detail_url}" target="_blank">{$name}</a></h2>
        <p class="desc">{$content}</p>
      </div>
      <div class="social">
        <ul>{facebook_url_wrapper}
          <li style="width:33%;" class="facebook"><a href="{$facebook_url}"><span class="fa fa-facebook"></span></a></li>{/}
          {twitter_url_wrapper}
          <li style="width:34%;" class="twitter"><a href="{$twitter_url}"><span class="fa fa-twitter"></span></a></li>{/}
          {google_url_wrapper}
          <li style="width:33%;" class="google-plus"><a href="{$google_url}"><span class="fa fa-google-plus"></span></a></li>{/}
          {instagram_url_wrapper}
          <li style="width:33%;" class="instagram"><a href="{$instagram_url}"><span class="fa fa-instagram"></span></a></li>{/}
          {website_url_wrapper}
          <li style="width:33%;" class="website"><a href="{$website_url}"><span class="fa fa-globe"></span></a></li>{/}
        </ul>
      </div>
    </li>{/}{/}
    {$not_found}
    {$Paginator}
  </ul>
</div>