
<div id="{$_name}" class="xepan-components">
  <div class="jquery-comments">
    <div class="data-container">
      <ul id="comment-list" class="main">{rows}{row}
        <li data-id="2" class="comment by-admin">
          <div class="comment-wrapper"><img src="https://app.viima.com/static/media/user_profiles/admin-user-icon.png" class="profile-picture round"/>
            <time data-original="2015-01-02">{created_at}2/1/2015{/}</time>
            <div class="wrapper">
              <div class="content">{message} Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien. Mauris varius diam vitae arcu.{/}</div>
            </div>
          </div>
        </li>{/}{/}
      </ul>
    </div>
  </div>
</div>