
<div id="{$_name}" style="{$style}" class="container {$class}">{$search_form}{rows}
  <div id="products" class="row list-group">{row}
    <div class=" item col-xs-12 col-lg-{col}4{/}">
      <div class="thumbnail"><img src="{image}http://placehold.it/400x250/000/fff{/}" alt="" style="width:100%" class="group list-group-image"/>
        <div class="caption">
          <h4 class="group inner list-group-item-heading text-center"><a href="?page={$detail_url_page}&amp;samaj_id={$id}">{name}Product Title{/}</a></h4>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <p class="lead group inner list-group-item-text">
                {description}Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.{/}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>{/}					
  </div>{/}	
  {$paginator}					
</div>