
<div id="{$_name}" style="display:none" for-xepan-component="xavoc/allsamaj/Tool_Search" class="xepan-tool-options">
  <div class="xepan-cms-group-panel clearfix">
    <h3 data-toggle="collapse" data-target="#collapseOne-item-search" aria-expanded="false" class="collapsed"><span>Search Tool</span></h3>
    <div id="collapseOne-item-search" class="xepan-cms-tools-bar-panel row-fluid collapse in">
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <tr>
            <div class="xepan-tool-option">
              <td class="xepan-tool-option-title">Button</td>
              <td class="xepan-tool-option-value"> 
                <select id="search-form-btn" data-attr="search-form-btn" data-defaultvalue="true" data-togglevalue="true" data-toggleclass=".xepan-commerce-itemsearch-button-option">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </td>
            </div>
          </tr>
        </table>
        <table class="table table-condensed table-hover">
          <tr>
            <div class="xepan-tool-option">
              <td class="xepan-tool-option-title">Result Page</td>
              <td class="xepan-tool-option-value"> 
                <input id="xavoc_allsamaj_search_result_page" data-attr="xavoc_allsamaj_search_result_page" placeholder="Redirect Url"/>
              </td>
            </div>
          </tr>
        </table>
        <table class="table table-condensed table-hover">
          <tr>
            <div class="xepan-tool-option">
              <td class="xepan-tool-option-title">Search Label</td>
              <td class="xepan-tool-option-value"> 
                <input id="search-field-label" data-attr="search-field-label"/>
              </td>
            </div>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $('#{$_name} [data-attr]').on('change',function(){
  		$(current_selected_component).attr($(this).data('attr'),$(this).val());
  	});
  
  $('#{$_name}').on('show',function(event){
  	$('#{$_name} [data-attr]').each(function(index,value){
  		var default_value = $(this).attr('data-defaultvalue');
  		if($(current_selected_component).attr($(this).data('attr')))
  			default_value = $(current_selected_component).attr($(this).data('attr'));
  		
  		$(this).val(default_value);
  	});
  });
  
  $('#{$_name} [data-attr]').on('change',function(){
  	$(current_selected_component).attr($(this).data('attr'),$(this).val());
  	// show or hide the toggle class
  	if($(this).data('toggleclass')){
  		var value = $(this).data('togglevalue').toString();
  		if($(this).val() === value){
  			$($(this).data('toggleclass')).show();
  		}else
  			$($(this).data('toggleclass')).hide();
  	}
  });
</script>